.big-div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family:'Anton', sans-serif;
    color: whitesmoke;
}
.item {
    width: 40%;
    height: 80px;
    font-family:'Anton', sans-serif;
    color: whitesmoke;
    padding: 20px;
    
}
.item:nth-child(2n) {
    width: 100%; 
}

body {
    background-color: black;
    
}
#main {
    width: 80%;
    padding: 20px;
}
#teams {
    padding-top: 50px;
}

