.big-div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-family:'Anton', sans-serif;
    color: whitesmoke;
}
.item {
    width: 48%;
    height: 100px;
    margin-bottom: 2%;
    font-family:'Anton', sans-serif;
    color: whitesmoke;
    
}
.item:nth-child(2n) {
    width: 100%; 
}

body {
    background-color: black;
    
}


